.navBtn {
    -fx-text-align: LEFT;
    -fx-alignment: center-left;
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-cursor: hand;
    -fx-text-fill: white;
}
.navVbox {
    -fx-background-color: rgba(13, 148, 136, 1);
}

.navVbox .label {
    -fx-text-fill: white;
}

.navBtn:hover {
    -fx-background-color: white !important;
    -fx-text-fill: #0d9488 !important;
}

.navBtn:hover .navBtnIcon {
    -fx-icon-color: #0d9488 !important;
}

.saveBtn {
    -fx-text-fill: white;
    -fx-background-color: #0d9488;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.saveBtn:hover {
    -fx-font-weight: bold;
}

.outlineBtn {
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-background-color: #0d9488;
    -fx-cursor: hand;
}

.outlineBtn:hover {
    -fx-font-weight: bold;
}

.outlinePrimaryBtn {
    -fx-text-fill: #0d9488;
    -fx-border-color: #0d9488;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.outlinePrimaryBtn:hover {
    -fx-font-weight: bold;
}

.whiteBtn {
    -fx-text-fill: #0d9488;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.whiteBtn:hover {
    -fx-font-weight: bold;
}

.iconBtn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:#0d9488;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 5px 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #f1f5f9;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: rgba(13, 148, 136, 0.3);
}
.table-row-cell:selected {
    -fx-background-color: rgba(13, 148, 136, 0.3) !important;
}
.table-row-cell:odd{
    -fx-min-height: 34px;
    -fx-background-color: #e2e8f0;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-min-height: 34px;
    -fx-background-color: #f1f5f9;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.bg-primary {
    -fx-background-color:#0d9488;
}
